* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Arial;
	font-size: 10px;
}

main {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	min-width: 100vw;
	align-items: center;
	justify-content: center;
	background-color: #000;
}

#board {
	display: grid;
	list-style: none;
}

#board li {
	width: 4rem;
	height: 4rem;
}

#board li button {
	width: 100%;
	height: 100%;
	background-color: #b8b8b8;
	cursor: pointer;
	font-size: 2rem;
	font-weight: 700;
}

#board li button.exposed {
	background-color: #ffffff;
}

#board li button.exposed:disabled {
	border: 0.1rem solid #e3e3e3;
	outline: none;
	pointer-events: none;
}

#board li button.exposed.mine {
	background-color: #f46f46;
	color: #ffffff;
}

#reset-button {
	width: 10rem;
	height: 4rem;
	background-color: #a6d9a5;
	margin-top: 4rem;
	border-radius: 0.5rem;
	border: none;
	cursor: pointer;
	font-size: 1.6rem;
	opacity: 0.8;
}

#reset-button:hover {
	background-color: #87ed85;
}

/* 



.tile {
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.tile > div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
}

.hidden {
  background-color: #b5b5b5;
  cursor: pointer;
}

.flagged {
  cursor: pointer;
}

.flagged::before {
  content: '🚩';
}

.safe {
  pointer-events: none;
}

.landmine {
  background-color: #ff0000;
}

.landmine-green {
  background-color: #06c100;
}

.landmine::before {
  content: '💣';
}

.board-sizes {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  width: 34em;
}

.button {
  width: 10rem;
  height: 4rem;
  background-color: #fff;
  margin-top: 4rem;
  border-radius: 2px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1.6rem;
}

.button:active {
  background-color: #b5b5b5;
} */
