* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Arial;
	font-size: 10px;
}

main {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	min-width: 100vw;
	align-items: center;
	justify-content: center;
	background-color: #000;
	overflow: auto;
}

ol,
ul {
	list-style: none;
}

#board {
	display: grid;
}

#board li {
	width: 4rem;
	height: 4rem;
}

#board li button {
	width: 100%;
	height: 100%;
	background-color: #b8b8b8;
	cursor: pointer;
	font-size: 2.3rem;
	font-weight: 700;
	color: #000000;
}

#board li button:disabled {
	pointer-events: none;
	opacity: 1;
}

#board li button.wrongly-flagged {
	background-color: #ffbda8;
}

#board li button.exposed {
	background-color: #ffffff;
}

#board li button.exposed {
	border: 0.1rem solid #e3e3e3;
	outline: none;
}

#board li button.exposed.mine {
	background-color: #ff0000;
	color: #ffffff;
}

.button-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 2rem;
}

.button {
	width: 10rem;
	height: 4rem;
	background-color: #a6d9a5;
	margin-top: 4rem;
	border-radius: 0.5rem;
	border: none;
	cursor: pointer;
	font-size: 1.6rem;
	opacity: 0.8;
	margin: 0.5rem;
}

.button:hover:not(:active) {
	opacity: 1;
}

.button#reset-button {
	background-color: #729aff;
}
